.flipCardInner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
}

/* 
.inputBar {
  background-color: rgba(200, 0, 255, 0.141);
  padding: 1px 15px;
  border-radius: 10px;
} */
