.flipCardInner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
}
.flipCardFront {
  background: rgba(149, 58, 185, 0.055);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(187, 60, 213, 0.29);
}
/* 
.inputBar {
  background-color: rgba(200, 0, 255, 0.141);
  padding: 1px 15px;
  border-radius: 10px;
} */
