.container {
  background: url("../assets/images/cert_pm.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
  color: white;
  font-family: "Segoe UI", sans-serif;
  padding: 10px 0px;

  text-align: center;
  width: 500px;
  height: 350px;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 35%;
  margin: 15px auto;
}

.title {
  font-size: 25px;
  letter-spacing: 8px;
  font-weight: 700;
  color: #b57edc;
}

.subtitle {
  font-size: 15px;
  font-weight: 500;
  color: #ccc;
  margin-bottom: 15px;
}

.name {
  font-size: 20px;
  font-weight: 700;
  color: white;
  width: 80%;
  margin: auto;
  border-bottom: white 1px solid;
  display: inline-block;
  padding-bottom: 8px;
  position: relative;
}

.description {
  font-size: 11px;
  max-width: 85%;
  margin: 0 auto 1rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #e0e0e0;
}

.highlight {
  font-weight: bold;
  color: white;
}

.id {
  font-size: 12px;
  font-weight: 600;
  color: #fcfcfc;
  margin-bottom: 0.5rem;
}

.hashtag {
  font-size: 1rem;
  color: #b399e5;
}
button{
  border: none;
}
