@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 8px;
}


body::-webkit-scrollbar-track {
  background: rgba(1, 9, 17, 0);

}


body::-webkit-scrollbar-thumb {
  background: #2c003f;
  border-radius: 20px;
}


body::-webkit-scrollbar-thumb:hover {
  background: #3d035400;
}
