@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NuraBold";
  src: url("/src/assets/fonts/Nura-Bold.ttf") format("truetype");
}
@font-face {
  font-family: NuraNormal;
  src: url("/src/assets/fonts/Nura-Normal.ttf");
}
@font-face {
  font-family: varien;
  src: url("/src/assets/fonts/varienRegular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: rgb(80, 79, 79);
}

body::-webkit-scrollbar-thumb {
  background: #323131;

  border-radius: 20px;
}
